/*トップページのCSS*/

.start {
  width:150px;
  border-radius:20px;
  box-shadow:0 7px 0 rgb(0, 110, 255);
  margin-top:300px;
}

.start:active {
  width:150px;
  border-radius:20px;
  box-shadow:0 3px 0 rgb(0, 110, 255);
  margin-top:304px;
}

.left-text {
  text-align:left;
  font-weight:bold;
  font-size:36px;
  color:rgb(182,209,209);
  margin-top:50px;
  margin-left:32px;
  margin-bottom:0;
}
.right-text {
  text-align:right;
  font-weight:bold;
  font-size:36px;
  color:rgb(182,209,209);
  margin-right:32px;
}

.center {
  font-weight:bold;
}


.manga, .select-manga {
  width:120px;
  height:100px;
}
.ace {
  width:120px;
  height:100px;
}


.select-one {
  margin-bottom:70px;
}

.selectone {
  margin-top:50px;
  margin-bottom:70px;
  font-size:20px;
}

/* .kategori {
} */
/* 共通ボタン */
.idou{
  text-decoration: none;
  font-size:15px;
}

.button {
  width:130px;
}

.sarani, .tophe, .okinis  {
  display:block;
  border:1px solid rgb(229, 255, 0);
  width:110px;
  height:32px;
  padding:4px 10px;
  text-decoration: none;
  line-height:32px;
  background-color:orange;
  color:white;
  border-radius:4px;
  margin:0 auto;
  margin-bottom:10px;
}

.okinis {
  width:150px;
}

.kategori {
  width:160px;
}

.tophe {
  background-color:red;
}

div.page__background {
  background-color:rgb(206, 241, 255);
}

.itiran {
  width:200px;
  margin-top:20px;
}

h1 {
  color:rgb(42, 238, 3);
  text-shadow:1px 1px 0 rgb(184, 181, 181);
}
/* お気に入りボタン */
.hosikun {
  width:32px;
  height:32px;
  margin-bottom:10px;
}


/* 漫画ページのCSS */
.genretext {
  font-weight: bold;
}

.items {
  margin:0 auto;
  margin-bottom:5px;
  width:340px;
  border-bottom:3px solid rgb(83, 197, 150);
  height:110px;
  line-height:110px;
  border-radius:4px;
}

img.select-manga{
  vertical-align: bottom;
  margin-left:20px;
  margin-top:5px;

}

a.manga-text {
  font-size:25px;
  display:block;
  width:330px;
  height:105px;
  margin:0 auto;
  text-decoration: none;
  display:flex; 
  justify-content: space-between;
  
} 

a.manga-text:active {
  background:rgb(168, 173, 173);
  padding-bottom:6px;
}

h1.mang {
  line-height:105px;
  color:rgb(100, 102, 85);
  font-size:36px;
  margin-right:15px;
}

.itiran {
  margin-top:0;
}

table {
  margin-bottom:20px;
}
/* 漫画の一覧表 */


.select-btn {
  width:300px;
  margin:40px;
  text-align :center;
}
td, th {
  font-size:22px;
  text-align:center;
  color:white;
  height:70px;
}
 th {
   color:rgb(56, 56, 56);
 }





/* アニメページのCSS
　大体のレイアウトは漫画の方と共通 */

/* アニメ紹介 */

.animes-img {
  width:300px;
}

.anime-text {
  width:300px;
  margin:0 auto;
  margin-top:30px;
  margin-bottom:30px;
}